main {
    margin-top: 56px;
}
.second .dropdown-item {
    position: relative;
}

.second .dropdown-item:hover .dropdown-menu {
    display: block;
}
.second .dropdown-item > a {
    color: black;
}

.second .dropdown-item > a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .second .dropdown-menu-right {
        left: 100%;
        top: 0;
    }
}

