<a href="{{ path('order') }}">
<i class="fas fa-shopping-cart"></i>

{%- if cart.productsCount > 0 -%}
<span class="badge badge-light">{{ cart.productsCount }}</span>
    {{ cart.sumOrder }}
{%- endif -%}
</a>